<ul>
    <li>
        <%= user.user_name %>
    </li>

    <% if action == :show %>
        <li><a href=<%= users_url %>>User Index</a></li>
    <% else %>
        <li><a href=<%= user_url(user) %>>User's Show Page</a></li>
    <% end %>

</ul>