<%= render 'user', user: @user, action: :show %>
<a href=<%= edit_user_url(@user) %>>Edit this user</a>
<form action=<%= user_url(@user) %> method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete this user...">
</form>
<!-- <ul>
    <li>
        <%#= @user.username %>
    </li>
    <li>
        <%#= @user.age %>
    </li>
    <li>
        <%#= @user.email %>
    </li>
</ul> -->