<h1>Create a new user</h1>

<form action="<%= users_url %>" method="POST">
    
    <label for="username">Username:
        <input type="text" name="user[username]" id="username">
    </label>

    <label for="password">Password:
        <input type="text" name="user[password]" id="password">
    </label>

    <input type="submit" value="Create User">

</form>